body {
  background-color: #e8e8e8;
}

.seleccionado
{
	background: #2ECC71;
	padding: .5rem;
	width: 20rem;
	height: 10rem;
	margin-top: 1rem;

	line-height: 10rem;
	color: white;
	font-weight: bold;
	font-size: 3em;
	text-align: center;
	background-color: green;
}

.encontrado
{
	background: #2ECC71;
	padding: .5rem;
	width: 20rem;
	height: 10rem;
	margin-top: 1rem;

	line-height: 10rem;
	color: white;
	font-weight: bold;
	font-size: 3em;
	text-align: center;
	background-color: blue;
}

.array-container {
  	padding: 0;
  	margin: 0;
  	list-style: none;
  	display: flex;
  	-webkit-flex-flow: row wrap;
  	justify-content: space-around;
}

.array-search-section {
    position: relative;
    display: inline-block;
    width: 50%;
    
	div {
		height: 100%;
		width: 25%;
		display: inline-block;
		text-align: center;

		background-color: #19B5FE;
		border: .3rem solid #4B77BE;
		line-height: 3rem;
	}
	input {
		height: 3rem;
		width: 40%;
		margin-right: 5%; 
		display: inline-block;
		text-align: center;
		font-size: 1rem;
	}
	button {
		display: inline-block;
	}
}

.array-form {
	width: 100%;
	position: absolute;
	margin-top: 2rem;
	height: 3rem;
	button {
	    position: relative;
	    display: block;
	    right: 0;
	    bottom: 0;
	    background-color: #4caf50;
	    border: none;
	    color: #fff;
	    padding: 15px 32px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 16px;
	    width: 8rem;
	}
}

.pr {
	position: relative;
}